#
# ODKEWA CONFIGURATION
#
mode: {{ mode | default('prod') }} # debug, devel or prod
prefix: {{ prefix | default('https://localhost:8443') }}
core_path: /odkewa
admin_path: /odkewa-admin
support_email: {{ support_email }}

### FLASK DEVEL SERVER
flask:
   host: localhost
   port: 8443
   debug: false
   threaded: false
   processes: 1
   ssl_cert: keys/key.crt
   ssl_key: keys/key.key


### BJOERN WSGI SERVER
bjoern:
   host: localhost
   port: 8080


### POSTGRES DATABASE POOL
dbpool:
   name: {{ database_name | default('odkewa') }}  # postgres database name
   host: {{ database_host | default('postgres') }}
   port: {{ database_port | default(5432) }}
   user: {{ database_user | default('odkewa') }} # user name
   password: {{ database_password }}
   capacity: 10 # number of connections in pool
   close_on_exception: true
   max_idle_time: 60 # (seconds)
   max_open_time: 600 # (seconds)
   max_usage_count: 1000
   recycle_interval: 60 # (seconds) set to null to disable recycler thread

### KOBO IMPORT
kobo:
   username: {{ kobo_username | default('secret') }}
   token: {{ kobo_token | default('secret') }}
   url: {{ kobo_url+kobo_username | default('secret') }}
   forms: {{ kobo_forms }}
   head: {{ kobo_head }}
   xls_tail: {{ kobo_xls_tail }}
   json_tail: {{ kobo_json_tail }}
   subs_url: {{ kobo_submissions }}
   vid_keys: ['__version__', '_version_']
   load_xls: {{ kobo_load_xls }}
   load_json: {{ kobo_load_json }}
   incremental: {{ kobo_incremental }}


### ONA IMPORT
ona:
   token: {{ ona_token | default('secret') }}
   url: {{ ona_url }}
   forms: {{ ona_forms }}
   head: {{ ona_head }}
   xls_tail: {{ ona_xls_tail }}
   json_tail: {{ ona_json_tail }}
   subs_url: {{ ona_submissions }}
   vid_keys: ['_version']
   load_xls: {{ ona_load_xls }}
   load_json: {{ ona_load_json }}
   incremental: {{ ona_incremental }}


### CONTINUOUS IMPORT
import_interval: {{ import_interval | default(600)  }}
